<div class="center-me" *ngIf="!isDataLoaded">
    <mat-progress-spinner style="margin-top: -100px"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
</div>

<div *ngIf="isDataLoaded">
    <h2 class="page-header">Student Update Form</h2>
    <form class="example-form" (submit)="updateStudent(student._id)">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Name" [(ngModel)]="student.name" name="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email Address" [(ngModel)]="student.email" name="email">
        </mat-form-field>

        <mat-radio-group (change)="onChange($event)" name="gender">
            <label style="color: gray;">Gender : </label>
            <mat-radio-button id="male" checked="{{student.gender=='male'}}" name="male" value="male"
                              style="color: gray;"> Male &nbsp;
            </mat-radio-button>
            <mat-radio-button id="female" checked="{{student.gender=='female'}}" name="female" value="female"
                              style="color: gray;"> Female
            </mat-radio-button>
        </mat-radio-group>


        <mat-form-field class="example-full-width">
            <input matInput type="phone" [(ngModel)]="student.phone" name="phone" placeholder="Enter phone number">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="phone" [(ngModel)]="student.parents_phone" name="parents_phone"
                   placeholder="Parent/Guardian's phone number">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.country" name="country" placeholder="Country of origin">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.address" name="address" placeholder="Address">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.mentoring_address" name="mentoring_address"
                   placeholder="Mentoring Location">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.language" name="language" placeholder="language spoken">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.school_level" name="school_level"
                   placeholder="Current year level at school">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.school_name" name="school_name"
                   placeholder="Type your school name">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.family_situation" name="family_situation"
                   placeholder="Current family situation">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput type="text" [(ngModel)]="student.english_level" name="english_level"
                   placeholder="Level of english competency.">
        </mat-form-field>


        <label style="color: gray;">Preferred gender of tutor </label>

        <mat-radio-group (change)="onChange($event)" name='tutor_gender'>
            <mat-radio-button checked="{{student.tutor_gender=='male'}}" name="tutor_gender" value="male"
                              style="color: gray;"> Male &nbsp;
            </mat-radio-button>
            <mat-radio-button checked="{{student.tutor_gender=='female'}}" name="tutor_gender" value="female"
                              style="color: gray;"> Female
            </mat-radio-button>
            <mat-radio-button checked="{{student.tutor_gender=='No Preference'}}" name="tutor_gender"
                              value="No Preference" style="color: gray;">No Preference
            </mat-radio-button>
        </mat-radio-group>


        <br/>
        <br/>
        <br/>

        <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
        <br/>
        <br/>
        <br/>
    </form>

</div>
