<h2 class="mat-h1">What did you do in the session today?</h2>

<form (submit)="onSubmit()" class="example-form" *ngIf="isDataLoaded">

    <mat-form-field required>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date"  placeholder="Choose a date" required name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Subject" disabled value="{{subject.name}}" name="subject">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Mentor" disabled value="{{mentor.name}}" name="mentor">
    </mat-form-field>

    <mat-form-field required class="example-full-width">
        <textarea required matInput rows="10" type="textarea" placeholder="Comment" [(ngModel)]="comment"
                  name="comment"></textarea>
    </mat-form-field>
    <mat-form-field required class="example-full-width">
        <textarea required matInput rows="3" type="textarea" placeholder="Do you have any additional general comment for your mentor?" [(ngModel)]="generalComment"
                  name="generalComment"></textarea>
    </mat-form-field>
    <mat-label>Rate your mentor:* &nbsp;</mat-label>
    <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                     (ratingUpdated)="onRatingChanged($event)"></app-star-rating>

    <br/>
    <br/>

    <br/>

    <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
    <br/>
    <br/>
    <br/>


</form>
