<h2 class="mat-h1">New Mentoring Meeting</h2>

<form (submit)="onSubmit()" class="example-form">

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date" name = "date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Subject" disabled value="{{subject}}" name="subject">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Student" disabled value="{{student}}" name="student">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Session" disabled value="{{session}}" name="session">
  </mat-form-field>

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput type="number" placeholder="Section" [(ngModel)]="section"  name="section">-->
  <!--</mat-form-field>-->

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Duration in minutes (90)" [(ngModel)]="duration"  name="duration">
  </mat-form-field>


  <mat-form-field required class="example-full-width">
        <textarea required matInput rows="10" type="textarea" placeholder="Comment" [(ngModel)]="comment"
                  name="comment"></textarea>
  </mat-form-field>

  <mat-form-field required class="example-full-width">
        <textarea required matInput rows="3" type="textarea" placeholder="Are there any other issues you would like to raise?" [(ngModel)]="generalComment"
                  name="generalComment"></textarea>
  </mat-form-field>

  <br/>
  <br/>
  <br/>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
  <br/>
  <br/>
  <br/>

</form>
