
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
            #drawer
            class="sidenav"
            fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async) && authService.loggedIn()">
        <mat-toolbar color="primary">HBE
        </mat-toolbar>

        <mat-nav-list>
            <a mat-list-item (click)="goToDashboard()"  routerLinkActive="active">Dashboard</a>
            <a mat-list-item *ngIf="authService.getUserType()=='admin'"  routerLinkActive="active" [routerLink]="['/subject-list']">Subjects</a>
            <a mat-list-item  *ngIf="authService.getUserType()=='mentor'" [routerLink]="['/select-subject']" routerLinkActive="active">My Subjects</a>
            <mat-expansion-panel class="sidenav" style="box-shadow: none;">
                <mat-expansion-panel-header style="padding-left: 0px !important;">
                    <a mat-list-item>Resources</a>
                </mat-expansion-panel-header>
                <mat-list-item [routerLink]="['/local-list']" routerLinkActive="active">Local</mat-list-item>
                <mat-list-item [routerLink]="['/online-list']" routerLinkActive="active">Online</mat-list-item>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="authService.getUserType()=='admin'" class="sidenav" style="box-shadow: none;">
                <mat-expansion-panel-header style="padding-left: 0px !important;">
                    <a mat-list-item>User Management</a>
                </mat-expansion-panel-header>
                <a mat-list-item [routerLink]="['/student-list']"  routerLinkActive="active">Students</a>
                <a mat-list-item [routerLink]="['/mentor-list']" routerLinkActive="active">Mentors</a>
                <a mat-list-item [routerLink]="['/admin-list']" routerLinkActive="active">Admins</a>
            </mat-expansion-panel>
            <a mat-list-item *ngIf="authService.getUserType()=='admin'" [routerLink]="['/classes-report']" routerLinkActive="active">Reports</a>
            <!--<a mat-list-item [routerLink]="['/profile']" routerLinkActive="active">Profile</a>-->
            <a (click)="logout(drawer)" mat-list-item>Logout</a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="(isHandset$ | async) && authService.loggedIn()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <!--<span style="flex: auto"></span>-->
            <!--<button *ngIf="!authService.loggedIn()" mat-icon-button [matMenuTriggerFor]="menu"-->
                    <!--style="margin-right: 20px; margin-right: 20px;">-->
                <!--Signup-->
            <!--</button>-->
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="dropdown-item"
                       [routerLink]="['/mentor-register']">Mentor
                </button>
                <button mat-menu-item  class="dropdown-item"
                       [routerLink]="['/student-register']">Student
                </button>
            </mat-menu>

        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>

